@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&family=Lexend+Deca:wght@100;200;300;400;500;600;700&family=Montserrat:wght@400;700&family=Mulish:wght@300&family=Poppins:wght@300;400;600&family=Urbanist:wght@300;400;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Urbanist", sans-serif;
}

:root {
    --bs-dark-color: #1a1d20;
    --bs-dark-primary: #1c1c1c;
    --bs-main-color: #fff;
    --bs-primary-color: #c6c6c6;
    --secondary-color: #29a9fd;
    --bs-supporting-color: #C850C0;
}


h1,
h2,
h3,
h4,
h5 {
    font-family: 'Lexend Deca', sans-serif;
    color: var(--bs-dark-color);
}

h1 {
    font-size: 3.8rem;
}

h2 {
    line-height: 3rem;
    font-weight: 600;
    font-size: 3.4rem;
}

p {
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
    color: var(--bs-dark-color);
    letter-spacing: 0.07rem;
    line-height: 1.55rem;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

a {
    text-decoration: none;
}

.bg-color {
    background-color: var(--bs-dark-primary);
}

.text-light-grey {
    color: var(--bs-primary-color);
}

button,
a {
    font-size: 1.15rem;
    letter-spacing: 0.03rem;
    word-spacing: .1rem;
}

.common-heading {
    font-size: 2.8rem;
    font-weight: 500;
    letter-spacing: 0.01rem;
}

.common-title {
    margin-bottom: 4.2rem;
}

/* navbar section */

.nav-link {
    color: var(--bs-main-color);
    font-weight: bold;
}

.nav-link:hover {
    color: var(--secondary-color);
}

/* hero section */

.hero-section .container {
    display: grid;
    place-content: center;
    height: inherit;
}

.bg-main {
    height: 60vh;
    position: relative;
}

.hero-video-section {

    /* height: auto; */
    width: 60%;
    border-radius: 2rem;
}

.custom-shape-divider-bottom-1689548204 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1689548204 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1689548204 .shape-fill {
    fill: #FFFFFF;
}

/* services-section */
.services-section {
    padding: 6rem 0 3rem 0;
}

.icon {
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--secondary-color);
    color: var(--bs-main-color);
}

.card-box {
    box-shadow: rgba(168, 167, 167, 0.253) 0 8px 24px;
}

.card-box:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

.more-info-section {
    background-image: linear-gradient(rgba(61, 60, 60, 0.541), rgba(56, 55, 55, 0.575)), url("https://images.pexels.com/photos/316093/pexels-photo-316093.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* padding: 6rem 0; */
    overflow: hidden;
}

.more-info-section .img-section img {
    /* position: absolute; */
    /* left: 0; */
    /* width: 70%; */
}



.services-section {
    padding: 6rem 0 3rem 0 !important;
}

.business-section {
    padding-top: 3rem;
}

.btn-primary {
    background: #1089ff;
    border: none;
    outline: none;
}


/* carousel section */
.carousel-inner .card {
    background-color: #262631;
    color: var(--bs-main-color);
    transition: all .2s linear;
}

.carousel-inner .card p {
    color: var(--bs-main-color);
}

.carousel-inner .card:hover {
    background: var(--bs-main-color);
    color: var(--bs-dark-color);
}

.carousel-inner .card:hover p {
    color: var(--bs-dark-color);
}


/* @media screen and (max-width: 998px) {
    .carousel .carousel-indicators {
        bottom: -8%;
    }
} */

/*blog section */

.blog-section {
    padding-bottom: 3rem;
}

.card-img-top {
    height: 220px;
}


/*contact section */

.contact-section {
    position: relative;
}

.contact-section .common-title {
    padding-top: 10rem;
}

.contact-section .form-section {
    width: 50%;
}

.custom-shape-divider-top-1684211116 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1684211116 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1684211116 .shape-fill {
    fill: var(--bs-main-color);
}

/* -------- */

footer {
    margin-top: 40px;
    padding: 2rem 0;
    /* background-color: #212529; */

}

.footer-column:not(:first-child) {
    padding-top: 2rem;

    @media (min-width: 768px) {
        padding-top: 0rem;
    }
}

.footer-column {
    text-align: center;
    /* border: red solid 1px; */

    .nav-item {
        .nav-link {
            padding: 0.1rem 0;
        }

        span.footer-title {
            font-size: 14px;
            font-weight: 500;
            color: #fff;
            text-transform: uppercase;
        }

        .fas {
            margin-right: 0.5rem;
        }
    }

}

ul.social-buttons {
    margin-bottom: 0;
}


ul.social-buttons li a {
    font-size: 20px;
    line-height: 40px;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: #fff;
    border-radius: 100%;
    outline: 0;

}

footer .quick-links {
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.copyright {
    color: white;
}

.fa-ellipsis-h {
    color: white;
    padding: 2rem 0;
}